<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true"
               name="XMLConfigTest" packages="org.apache.logging.log4j.test">
    <Filter type="ThresholdFilter" level="trace" />

    <Appenders>
        <Console name="STDOUT">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </Console>
        <RollingFile name="rollingFile"
                     fileName="src/task_3_files/refactorAddLogger/logsOutput/LOG4J2output.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "1" />
                <SizeBasedTriggeringPolicy
                        size="250 MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="rollingFile" />
        </Root>
    </Loggers>

</Configuration>